.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/heroimg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-color: var(--background-herofoot-color);
  height: 600px;
  max-width: 1600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}
.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  padding: 10px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  min-width: 200px;
  background: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
