.btn-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.btn-list__item {
&:not(:last-child) {
  margin-right: 8px;
}
}
.btn-list__btn {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
